.flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body {
  padding: 0 1vw;
  max-width: 1310px;
  min-width: 500px;
  margin: auto;
  font-family: 'Open Sans Condensed', sans-serif;
}

input {
  color: black;
  font-weight: 700;
  text-align: center;
}

header {
  padding: 1vw 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 1310px;
  background-color: white;
  justify-content: space-between;
}

.logo {
  width: 15%;
}

.logo img {
  width: 100%;
  height: 6vw;
}

.header-title {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title h1 {
  font-weight: 700;
}

.nav-header {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  font-size: 2vw;
}

.nav-header a {
  color: black;
}

.main-search {
  width: 100%;
  height: 37.75vw;
  background-image: url("../img/wall-back1.jpg");
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-bar {
  display: flex;
  justify-content: center;
  width: 70%;
  font-weight: 300;
  font-size: 1.5vw;
}

.search-bar input {
  border: 0;
  border-radius: 10px 0  0 10px;
  width: 70%;
  height: 3vw;
}

.search-bar button,
.text-desc1 button,
.bot-sub button {
  font-weight: 700;
  background-color: #29cfec;
  border: 0;
  border-radius: 0 10px 10px 0;
  width: 30%;
  height: 3vw;
}

.text-desc1 button {
  border-radius: 0%;
}

.functions {
  display: flex;
  flex-wrap: wrap;
}

.item-func {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 50%;
  height: 20vw;
}

.item-summary {
  text-align: center;
  width: 50%;
}

.if1 {
  background-color: #29cfec;
}

.if2 {
  background-color: #ffcd05;
}

.icons-func {
  font-size: 5vw;
}

.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("../img/desc-item.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.desc-item {
  padding: 10vw 0;
}

.text-desc {
  height: 15vw;
  width: 100%;
  background-color: white;
}

.text-desc1 {
  flex-direction: column;
  width: 80%;
}

.text-desc1 p {
  width: 50%;
}

.imag-desc {
  width: 20%;
}

.imag-desc img {
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
}

.nav-footer {
  width: 100%;
  justify-content: space-evenly;
  padding: 2vw 3vw;
}

.nav-footer > * a {
  color: white;
  cursor: pointer;
}

footer {
  padding: 2vw 0;
  background-color: black;
}

.let-us {
  padding-left: 2vw;
  font-size: 2.5vw;
  font-weight: 700;
  width: 25%;
  color: #29cfec;
}

.bot-sub {
  width: 55%;
  flex-direction: column;
}

.bot-contact {
  font-size: 2vw;
  font-weight: 700;
  color: #29cfec;
  width: 20%;
  flex-direction: column;
}

.bot-contact > * {
  cursor: pointer;
}

.bot-sub button {
  border-radius: 0 0 10px 10px;
}

.bot-sub input {
  border-radius: 10px 10px 0 0;
}

.bot-sub input,
.bot-sub button {
  height: 3.5vw;
  width: 80%;
  border: 0;
}

.item-main-form {
  padding: 2vw;
}

.butt-main-form {
  padding: 2vw;
  display: flex;
  flex-direction: column;
}

.butt-main-form button {
  border: 0;
  font-weight: 700;
}

.bmf1 {
  border-radius: 10px 10px 0 0;
  background-color: white;
}

.bmf2 {
  border-radius: 0 0 10px 10px;
  background-color: #29cfec;
}

.form-bottom {
  width: 100%;
  height: 4vw;
  background-color: black;
}

.img-client img {
  width: 10vw;
}

.item-client-list {
  width: 33.33%;
  padding: 1vw;
}

.summary-client {
  flex-direction: column;
  padding: 1vw;
  align-items: baseline;
}

.tag-client {
  font-weight: 700;
}

.client {
  width: 100%;
  padding: 2vw;
}

.client-img {
  width: 40%;
}

.client-img a img {
  width: 20vw;
}

.info-client {
  width: 60%;
}

.info-container {
  width: 80%;
}

.info-container > * {
  display: flex;
  width: 40%;
  justify-content: left;
  padding: 0.5vw 0;
}

.attribute {
  font-weight: bolder;
  font-size: 1.6vw;
}

.info-att {
  font-size: 1.4vw;
}

.rest-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.rest-summary > * {
  width: 80%;
}

.rest-summary h3 {
  font-weight: 700;
}

.call-action {
  padding: 3vw;
  justify-content: space-evenly;
}

.call-action button {
  width: 20%;
}



.bmf2:hover {
  background-color: white;
}

.bmf1:hover {
  background-color: #29cfec;
}

.search-bar input:hover,
.bot-sub input:hover {
  background-color: #29cfec;
}

.search-bar button:hover,
.bot-sub button:hover {
  background-color: white;
}

.nav-footer > *:hover {
  background-color: #29cfec;
  color: black;
}

.info-container > *:hover {
  border: 5px solid #29cfec;
}

.rest-summary h3:hover {
  color: #29cfec;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 1024px) {
  .newsl {
    display: none;
  }

  .header-title {
    display: none;
  }

  .nav-header {
    width: 70%;
  }

  .bot-contact {
    display: none;
  }

  .let-us,
  .bot-sub {
    width: 50%;
  }

  .item-client-list {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .desc-item {
    display: none;
  }

  .functions {
    flex-direction: column;
  }

  .item-func {
    width: 100%;
  }

  .bot-sub {
    font-size: 2vw;
  }

  .item-client-list {
    width: 100%;
  }

  .main-form form {
    flex-direction: column;
  }
}
