  max-width: 1310px;
}
.main-top-story,
.main-featured-stories,
.image-turn,
.image-culture {
  width: 100%;
  height: 57.5vw;
  background-image: url("https://d.newsweek.com/en/full/1596899/pepper-spray.jpg?w=591&h=364&f=e8e41744c32896b5fd2884adfd4497c7");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-turn {
  cursor: pointer;
  height: 90vw;
  background-image: url("https://d.newsweek.com/en/full/1598151/spider-man-manhattan-bridge-black-lives-matter.jpg?w=397&h=397&f=e20b37a16dffe1d3fc961d40c4186757");
}

.main-featured-stories {
  background-image: url("https://d.newsweek.com/en/full/1597214/derek-chauvin.jpg?w=397&h=265&q=90&f=0f0e6066bb8d29b49e7039b6ced98c57");
}

.mfs1 {
  background-image: url("https://d.newsweek.com/en/full/1598644/hong-kong-china-protests-anniversary.jpg?w=397&h=265&q=90&f=1ba7efc031f64fa47bc92ca851d540e3");
}

.mfs2 {
  background-image: url("https://d.newsweek.com/en/full/1598498/president-trump-hosts-rolling-remember-ceremony.jpg?w=397&h=265&q=90&f=f349c0b828fa2a62a4538daf277fff49");
}

.mfs3 {
  background-image: url("https://d.newsweek.com/en/full/1598604/flynn.jpg?w=397&h=265&q=90&f=da5da73fb23b520dd6e1dcb38e42c128");
}

.mfs4 {
  background-image: url("https://d.newsweek.com/en/full/1598654/larry-kudlow.jpg?w=397&h=265&q=90&f=957fc80d3934d9c0248ca8d46a6c02db");
}

.image-culture {
  background-image: url("https://d.newsweek.com/en/full/1598154/top-game-1.jpg?w=397&h=397&f=12115b2be0ea94f6da48f2e50f4c6b7a");
  height: 90vw;
}

.bottom-tag {
  background-color: #ffffffe6;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  color: #f72210;
  font-weight: bolder;
  align-items: center;
  padding: 1vw;
}

.top-story-container,
.featured-stories-container,
.debate-container,
.opinion-container,
.more-stories-container,
.turn-container,
.culture-travel-container {
  padding: 1rem;
  background-color: white;
}

.featured-stories-container {
  margin-top: 1rem;
}

.weather {
  border: none;
}

.nav-item {
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
  padding: 0;
  border-top: transparent;
  border-bottom: transparent;
  width: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-science {
  width: 15%;
}

.us {
  border-left: none;
  width: 5%;
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.nav-item-search {
  border: transparent;
  width: 4rem;
  height: 100%;
}

.search-container {
  width: 10%;
}

.fancy-div {
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
  width: 10%;
  height: 0.8rem;
}

.top-story-title,
.featured-stories-title,
.debate-title,
.opinion-title,
.more-stories-title,
.turn-title,
.subt-turn,
.culture-title,
.subt-culture {
  font-family: Arial, Helvetica, sans-serif;
  color: #818181;
  font-weight: bolder;
  cursor: pointer;
}

.subt-turn,
.subt-culture {
  font-size: 2vw;
}

.title-summary a,
.title-summary-fs a {
  color: black;
  line-height: 1px;
  font-size: 24px;
  font-weight: bolder;
}

.image-debate1,
.image-debate3,
.image-opinion {
  width: 10%;
}

.info-debate11 a,
.info-debate31 a,
.info-opinion11 a,
.info-more-stories11 a {
  color: black;
  font-weight: bolder;
  font-size: 2.2vw;
}

.deb-line-deco {
  margin: 2vw 0;
  border-top: 1px solid rgba(128, 128, 128, 0.74);
  border-bottom: 1px solid rgba(128, 128, 128, 0.74);
  width: 48%;
  height: 0.5vw;
}

.versus-icon {
  background-color: black;
  width: 4%;
  height: 3.5vw;
  border-radius: 50%;
}

.info-debate1,
.info-debate3,
.info-option1 {
  width: 90%;
}

.debate-item1 {
  padding-top: 2vw;
  border-top: 3px solid #f72210;
}

.debate-item3 {
  padding-bottom: 2vw;
  border-bottom: 3px solid #1c87fb;
}

.opinion-item {
  border-bottom: 1px solid rgb(189, 186, 186);
}

.more-stories-item {
  border-top: 1px solid rgb(189, 186, 186);
  margin-bottom: 2vw;
}

.info-more-stories1 {
  width: 90%;
}

.it1 {
  background-image: url("https://d.newsweek.com/en/full/1597646/tsunami-family-brothers.jpg?w=397&h=397&f=178afe1ac0a38a65047401f0ccbb1787");
}

.it2 {
  background-image: url("https://d.newsweek.com/en/full/1596881/meghan-markle-look-alike-new-jersey.png?w=397&h=397&f=f991f48848d948d0de8bbdb99fed81f5");
}

.imc1 {
  background-image: url("https://d.newsweek.com/en/full/1596461/30-black-owned-wineries-worth-supporting-right-now.jpg?w=397&h=397&f=3b36a58ac42aafdfe03b1afa325b2afb");
}

.imc2 {
  background-image: url("https://d.newsweek.com/en/full/1596730/washington-dc-protest.jpg?w=397&h=397&f=21a0453c6dfd82377b0d78b1d6f6a73c");
}

.newsletter-signup-container {
  width: 100%;
  background-color: #fff;
}

.news-signup {
  max-width: 22em;
  background-color: #f4f5f7;
  border: 1px solid #e5e5e5;
}

.magazine,
.editors-pick,
.picks-container {
  background-color: #fff;
}

.nw-ti {
  font-size: 1.8vw;
  font-weight: bolder;
  color: black;
}

.magazine-title-inside,
.editors-title-inside {
  font-size: 2.4vw;
  font-weight: bolder;
  color: black;
}

.icon-newsletter {
  width: 47px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
}

.sign-email {
  width: 100%;
  height: 32px;
  color: #555;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border: 1px solid #e0e1e1;
  text-indent: 9px;
}

.freesign-button {
  width: 100%;
  height: 32px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 0;
  font-family: "Roboto Condensed", sans-serif;
  background: url(https://g.newsweek.com/www/images/free-sign-up.svg) center/108px no-repeat #f61602;
  border-radius: 3px;
  border: none;
}

.title-magazine,
.title-editors {
  width: 100%;
}

.title-editors {
  border-bottom: 1px solid #d9d9d9;
}

.cover-image-magazine,
.image-magazine {
  cursor: pointer;
  width: 100%;
  height: 130vw;
  background-image: url("https://d.newsweek.com/en/full/1597761/cover-june-19-26-2020.jpg?w=360&h=480&q=90&f=4e759c49f52dd6986cbe78bcf012b463");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-magazine {
  background-image: url("https://d.newsweek.com/en/full/1596483/china-hong-kong-future-opener.jpg?w=466&h=311&l=24&t=59&q=90&f=9b1b20405dea54feff9dcfaafbb625ac");
  height: 60vw;
}

.im-mg1 {
  background-image: url("https://d.newsweek.com/en/full/1595446/gwen-carr-george-floyd.jpg?w=466&h=311&q=90&f=855a80a46765783b52eb33cfe023908d");
}

.im-mg2 {
  background-image: url("https://d.newsweek.com/en/full/1595075/minneapolis-riots-black-owned-business-george-floyd.jpg?w=466&h=311&q=90&f=8caca6e10b88e84a046a53aee9eb1317");
}

.im-mg3 {
  background-image: url("https://d.newsweek.com/en/full/1596154/new-york-riots-protests-george-floyd.jpg?w=466&h=311&q=90&f=4eb4dc096ebfc1f7192093277b9e4cc1");
}

.im-mg4 {
  background-image: url("https://d.newsweek.com/en/full/1597714/cul-williemays-banner.jpg?w=466&h=311&l=47&t=32&q=90&f=733c77c315444674a3122f9ef676959a");
}

.im-mg5 {
  background-image: url("https://d.newsweek.com/en/full/1597051/cul-ps-apatow.jpg?w=466&h=311&l=46&t=41&q=90&f=b2214b8a1cab2bd6ae3ebdc7c832d7ba");
}

.im-mg6 {
  background-image: url("https://d.newsweek.com/en/full/1597780/rocket-men.jpg?w=480&h=320&l=34&t=35&q=90&f=1c294eb910efd0b379abd65d84e159d0");
}

.all-features {
  font-size: 1.2em;
  font-weight: bolder;
}

.all-features:hover {
  background-color: gray;
  cursor: pointer;
}

.categories {
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}

.mag-tag {
  background-color: #f72210;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bolder;
  align-items: center;
  padding: 1vw;
}

.mag-tag1 {
  background-color: #ffffffe6;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  color: #f72210;
  font-weight: bolder;
  align-items: center;
  padding: 1vw;
}

.categories-title,
.editors-title,
.picks-summary {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1em;
}

.categories-title:hover,
.editors-title:hover,
.picks-summary:hover {
  text-decoration: underline #f72210;
  cursor: pointer;
}

.summ-edit {
  font-size: 1.3em;
}

.editors-item {
  width: 100%;
  height: 57.5vw;
  background-image: url("https://d.newsweek.com/en/full/1599721/cancel-rent-sign-new-york.jpg?w=397&h=295&f=9eb614298d21f03de4fa61d3e1c7c844");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ed-it1 {
  background-image: url("https://d.newsweek.com/en/full/1599733/kudlow-trump.jpg?w=397&h=295&f=f08791d147b37e21d696d128120624f0");
}

.ed-it2 {
  background-image: url("https://d.newsweek.com/en/full/1599820/boris-johnson-westfield-shopping-centre.jpg?w=397&h=295&l=75&t=36&f=07f7fa547dae299d7622e1aaf2c2e74e");
}

.ed-it3 {
  background-image: url("https://d.newsweek.com/en/full/1599812/meghan-markle-launch-together-cookbook.jpg?w=397&h=295&f=c90b541a63181fa88179341210bc3c12");
}

.ed-it4 {
  background-image: url("https://d.newsweek.com/en/full/1599848/milky-way-australian-outback.jpg?w=397&h=295&f=17978f2e20fdb4acef13b93d66cde32e");
}

.ed-it5 {
  background-image: url("https://d.newsweek.com/en/full/1599829/tiktok.jpg?w=397&h=295&f=209a83d713a70678c81dbb7cd0fa57a9");
}

.ed-it6 {
  background-image: url("https://d.newsweek.com/en/full/1599688/protests.jpg?w=397&h=295&f=038b316f577d41fad7e9c8e1fc2fc325");
}

.ed-it7 {
  background-image: url("https://d.newsweek.com/en/full/1595364/anti-mafia-vigil-italy.jpg?w=397&h=295&f=448f6ed7fb89142fd4ce40c63d19a61a");
}

.title-picks {
  border-top: 1px solid #d9d9d9;
  color: #f72210;
  font-size: 1.3em;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
}

.image-picks {
  width: 100%;
  height: 57.5vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-extra-picks {
  width: 12vw;
  height: 12vw;
}

.extra-summary {
  width: 100%;
  font: bold 17px/21px "Roboto Condensed", sans-serif;
}

.extra-summary:hover {
  color: rgb(185, 54, 157);
}

.imgepicksus1 {
  background-image: url("https://d.newsweek.com/en/full/1600044/dollar-bills.jpg?w=397&h=265&f=203927b7b2731e4c06832c689f484b0b");
}

.imgepicksus2 {
  background-image: url("https://d.newsweek.com/en/full/1600045/john-bolton.jpg?w=397&h=265&f=10bb05a79c93547000931a9232eb06c1");
}

.imagepicksworld1 {
  background-image: url("https://d.newsweek.com/en/full/1600884/donald-trump-john-bolton.jpg?w=397&h=265&f=94b4d4c0e73c4565788d7eaa6b088d24");
}

.imagepicksworld2 {
  background-image: url("https://d.newsweek.com/en/full/1600838/russia-putin-india-modi-china-xi.jpg?w=397&h=265&f=b9c303d6b07a9cf41b4625fe2a3d0c9d");
}

.imagepicksbussines1 {
  background-image: url("https://d.newsweek.com/en/full/1588468/mark-cuban.jpg?w=397&h=265&f=393b391060260d06d5855cef3ef707a7");
}

.imagepicksbussines2 {
  background-image: url("https://d.newsweek.com/en/full/1598669/hank-column-time-square.jpg?w=397&h=265&l=52&t=41&f=a3ade6d16540733a8dc2c95a813bc023");
}

.imagepicksrtech1 {
  background-image: url("https://d.newsweek.com/en/full/1600792/wudalianchi.jpg?w=397&h=265&f=c9ca450a801c23f98c5a91fa735bcfdc");
}

.imagepicksrtech2 {
  background-image: url("https://d.newsweek.com/en/full/1600624/instagram.jpg?w=397&h=265&f=844d9bc763551a70b9a8bb06ec177cb7");
}

.imagepicksrsports1 {
  background-image: url("https://d.newsweek.com/en/full/1600693/wwe-nxt-shotzi-blackheart.jpg?w=397&h=265&l=53&t=18&f=df752b339577dea0b8f60c1aefd0dd6d");
}

.imagepicksrsports2 {
  background-image: url("https://d.newsweek.com/en/full/1567731/aubrey-huff-san-francisco-giants.jpg?w=397&h=265&f=c701221180a96a25ef8d41187ba576e2");
}

.imagepicksrculture1 {
  background-image: url("https://d.newsweek.com/en/full/1600786/married-first-sight-set-return.jpg?w=397&h=265&f=aab936fee6c585f9c608e8371ebdd22d");
}

.imagepicksrculture2 {
  background-image: url("https://d.newsweek.com/en/full/1600856/mafs-couples-cam-sneak-peek.png?w=397&h=265&f=ae8f733c5af9bda6dbe34a6fb929a031");
}

.extra-picks-item-b,
.extra-picks-item-c {
  border-top: 1px solid #d9d9d9;
}

.bottom-page {
  background-color: white;
}

.substitle {
  color: #f72210;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
  font-size: 2.2vw;
}

.mag-covers {
  position: relative;
  width: 50%;
}

.covers-info {
  width: 50%;
}

.subsbottom {
  width: 100%;
  background-color: #f4f5f6;
}

.mag-cover2 {
  position: absolute;
  top: 1em;
  left: 6em;
}

.ci-1,
.form-info1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 3.2vw;
  line-height: 1.2em;
  color: black;
}

.ci-2 {
  font-size: 2vw;
  line-height: 1.5em;
}

.ci-3 {
  font: bold 18px/18px "Roboto Condensed", sans-serif;
  cursor: pointer;
  background-color: #f72310;
  color: white;
  padding: 10px 10px 10px 12px;
  border-radius: 3px;
  border: none;
}

.form-info {
  border: 1px solid #d9d9d9;
}

.form-info1 {
  font-size: 2.8vw;
}

.alt-svg {
  fill: #f61602;
  width: 13rem;
}

footer {
  background-color: white;
}

.logo-footer {
  width: 60%;
}

.footer-icons1 {
  width: 40%;
}

.footer-icons1 > * {
  padding: 0 1vw;
  font-size: 4vw;
  color: #666;
}

.editions {
  border-top: 1px solid gray;
  margin-top: 1em;
}

.edit-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1em;
}

.edit-item {
  padding: 0.5em 1em;
  display: inline;
  font-size: 1.3em;
}

.edit-item a {
  color: #818181;
}

.edit-item a:hover {
  text-decoration: none;
  color: #333;
}

.nav-item a:hover {
  color: #f72210;
}

.title-summary a:hover,
.title-summary-fs a:hover,
.summary-fs a:hover,
.info-more-stories11 a:hover {
  text-decoration: underline;
  text-decoration-color: #f72210;
}

.info-debate11 a:hover,
.info-debate31 a:hover,
.info-opinion11 a:hover {
  text-decoration: none;
  color: rgb(185, 54, 157);
}

@media (min-width: 768px) {
  .header-user-icon {
    display: none;
  }

  .header-login {
    display: flex;
  }

  .header-menu {
    padding-top: 0;
  }

  main {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-auto-rows: minmax(auto, auto);
  }

  .top-story-container {
    grid-column: 2;
    grid-row: 1;
  }

  .featured-stories-container {
    grid-column: 1;
    grid-row: 1/5;
    margin-top: 0;
  }

  .turn-container {
    grid-column: 2;
    grid-row: 2;
  }

  .culture-travel-container {
    grid-column: 2;
    grid-row: 3;
  }

  .more-stories-container {
    overflow-y: scroll;
    height: 79.5em;
    grid-row: 4;
    grid-column: 2;
  }

  .debate-container {
    justify-content: center;
    grid-row: 5;
    grid-column: 1 / 3;
  }

  .opinion-container {
    grid-row: 6;
    grid-column: 1 / 3;
  }

  .newsletter-signup-container {
    grid-column: 1 / 3;
    grid-row: 7;
  }

  .magazine {
    grid-column: 1 / 3;
    grid-row: 8;
  }

  .editors-pick {
    grid-column: 1 / 3;
    grid-row: 9;
  }

  .picks-container {
    grid-column: 1 / 3;
    grid-row: 10;
  }

  .bottom-page {
    grid-column: 1 / 3;
    grid-row: 11;
  }

  footer {
    grid-column: 1 / 3;
    grid-row: 12;
  }

  .more-stories-container::-webkit-scrollbar {
    display: none;
  }

  .main-featured-stories {
    max-height: 21em;
  }

  .main-top-story {
    max-height: 24em;
  }

  .item-turn1,
  .cult-item1 {
    grid-column: 1;
  }

  .item-turn2,
  .cult-item2 {
    grid-column: 2;
  }

  .item-turn3,
  .cult-item3 {
    grid-column: 3;
  }

  .images-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .image-turn,
  .image-culture {
    width: 15vw;
    height: 14vw;
  }

  .subt-turn,
  .subt-culture {
    font-size: 1.5vw;
  }

  .mag-pick-cont {
    width: 23%;
  }

  .cover-image-magazine {
    width: 22vw;
    height: 30vw;
  }

  .image-magazine {
    height: 20em;
  }

  .mag-item-cont {
    padding-top: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .picked-cont {
    display: flex;
    flex-wrap: wrap;
  }

  .picked-item-cont {
    width: 50%;
    padding: 1.5vw;
  }

  .editors-item {
    height: 22em;
  }

  .picks-item {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .bot-picks-item-cont,
  .bot-picks-item-cont1 {
    width: 30%;
  }

  .image-picks {
    height: 20vw;
  }

  .image-debate1,
  .image-debate3,
  .image-opinion {
    width: 6vw;
    height: 6vw;
  }

  .info-debate11 a,
  .info-debate31 a,
  .info-opinion11 a,
  .info-more-stories11 a {
    font-size: 1.5vw;
  }
}

@media (min-width: 992px) {
  .image-turn,
  .image-culture {
    width: 11vw;
    height: 11vw;
  }

  .img-extra-picks {
    width: 12vw;
    height: 8vw;
  }

  .date-info {
    display: block;
    color: white;
    padding-left: 1.5rem;
    padding-top: 1rem;
  }

  svg {
    width: 22rem;
  }

  .header-subscribe {
    padding-top: 2rem;
    padding-right: 2rem;
  }

  .header-menu {
    display: none;
  }

  .nav-bar {
    display: flex;
  }

  .main-header {
    padding: 0;
  }

  main {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-auto-rows: minmax(auto, auto);
  }

  .debate-container {
    grid-row: 1;
    grid-column: 3;
  }

  .subt-turn,
  .subt-culture {
    font-size: 1.3vw;
  }

  .info-more-stories11 a {
    font-size: 1.5vw;
  }

  .opinion-container {
    grid-row: 2/5;
    grid-column: 3;
  }

  .newsletter-signup-container {
    justify-content: center;
    grid-column: 3;
    grid-row: 4;
  }

  .image-debate1,
  .image-debate3,
  .image-opinion {
    width: 17%;
    height: 5vw;
  }

  .info-debate11 a,
  .info-debate31 a,
  .info-opinion11 a,
  .info-more-stories11 a {
    font-size: 1.2vw;
  }

  .magazine {
    grid-column: 1 / 4;
    grid-row: 8;
  }

  .editors-pick {
    grid-column: 1 / 4;
    grid-row: 9;
  }

  .picked-item-cont {
    width: 25%;
  }

  .categories-title,
  .editors-title,
  .picks-summary {
    font-size: 1.3rem;
    line-height: 1.4rem;
  }

  .picks-container {
    grid-column: 1 / 4;
    grid-row: 10;
  }

  .bottom-page {
    justify-content: space-between;
    flex-direction: row !important;
    flex-wrap: wrap;
    grid-column: 1 / 4;
    grid-row: 11;
  }

  .botp1 {
    width: 69%;
  }

  .newslbottom {
    width: 29%;
  }

  .ci-1 {
    font-size: 2vw;
  }

  .ci-2 {
    font-size: 1.4vw;
  }

  footer {
    grid-column: 1 / 4;
    grid-row: 12;
  }

  .footer-icons1 > * {
    font-size: 2em;
  }

  .versus-icon {
    width: 7%;
    height: 2vw;
  }

  .cover-image-magazine {
    width: 21.5vw;
    height: 27vw;
  }

  .nw-ti {
    font-size: 1.4vw;
  }
}

@media (max-width: 768px) {
  .mag-covers {
    width: 70%;
  }

  .covers-info {
    width: 100%;
    text-align: center;
  }

  .subsbottom {
    align-items: center;
    flex-direction: column;
  }

  .lazyloaded {
    width: 24vw;
  }
}
